# Data Science Tools and Ecosystem

**Objectives:**

- List popular languages for Data Science.
- Identify commonly used libraries in Data Science.
- Explore tools used for Data Science development.
- Perform simple arithmetic operations in Python.
- Convert units (e.g., minutes to hours).

In [1]:
print ("In this notebook, Data Science Tools and Ecosystem are summarized.")

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

# this is a simpla arithmetic expression to multiply then add integer
(3*4)+5

In [3]:
# this is a simple arithmetic expression to multiply then add integer 
( 3 * 4) + 5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author

Grace Yao Lomoua